@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme='dark'] .your-class {
  color: white;
}

.footerlink{
  color: orange
}

/* .nav-text-color {
  color: #04246a;
  font-weight: bold;
}
.nav-text-color:hover {
  color:#e20101;
  
} */
